<!DOCTYPE html>
<html>
  <head>
    <title>Contracts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless notice.nil? %>
      <div class="alert alert-primary notice" role="alert"><%= notice %></div>
    <% end %>
<% unless alert.nil? %>
    <div class="alert alert-primary" role="alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
